<!DOCTYPE html>
<html>
    <head>
        <title>Delete</title>
        <link rel="stylesheet" href = {{url_for('static', filename='css/main.css')}}>

    </head>
    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>

        <h4>Delete Employee Record</h4>
        
        <form action="/deleterecord" method="post">
            Employee ID <input type = "text" name = "id">
            <input type = "submit" value="Submit">
        </form>
    </body>
</html>