<!DOCTYPE html>
<html>
    <head>
        <title>Records</title>
        <link rel="stylesheet" href = {{url_for('static', filename='css/main.css')}}>
    </head>
    <body>
        <header>
            <h2>Employee Management System</h2>
        </header>
        <h3>Employee Information</h3>
        
        <table border="2px">
            <thead>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Address</td>
            </thead>

            {%for row in rows%}

            <tr>
                <td>{{row["id"]}}</td>
                <td>{{row["name"]}}</td>
                <td>{{row["email"]}}</td>
                <td>{{row["address"]}}</td>
            </tr>

            {% endfor %}
        </table>

        <br>

        <a href="/">Go back to Home Page</a>
    </body>
</html>